doctype html
html
	head
		title Buttons Truekes Style
		link(rel="stylesheet" type="text/css" href="./css/app.css")
	body
		.wrapper.mt10.center
			h1 Buttons auto width
			button.btn.red Pruebame :)
			button.btn.white Pruebame :)
			button.btn.black Pruebame :)
			button.btn.blue Click me C:
			button.btn.green Apachurrame UwU
			h1 Buttons small medium large width
			button.btn.red.w-small.h-small Pruebame :)
			button.btn.blue.w-medium.h-medium Click me C:
			button.btn.green.w-large.h-large Apachurrame UwU
			h1 Buttons width %
			button.btn.purple.w-7 Click!
			button.btn.yellow.w-15 Click!
			button.btn.red.w-25 Pruebame :)
			button.btn.blue.w-50 Click me C:
			button.btn.green.w-100 Apachurrame UwU
			h1 Buttons auto width
			button.btn.circle.red.w-small: span Pruebame :)
			button.btn.blue.circle.w-medium: span Pruebame :)
			button.btn.circle.green.w-large: span Pruebame :)
			button.btn.circle.yellow: span Pruebame :)
			button.btn.circle.purple: span Pruebame :)
			button.btn.circle.white: span Pruebame :)
			button.btn.circle.black: span Pruebame :)
			
