doctype hyml
html
	head
		meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
		title Hola Pug
		link(rel="stylesheet" type="text/css" href="./css/app.css")
		link(href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet")

	body
		include ./header/template.pug
		include ./hero/template.pug
		script(type="tetx/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js")
