section.heroApp
	div.heroApp-wrapper.wrapper
		div.heroApp-copy Que quieres comprar?
		div.heroApp-search
			input.input-search
			button.button-search.icon-search
		div.heroApp-subCopy 
			span.cut o
			div
				button.btn.circle.green
					span Inicia Sesion
	
